<header class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">rhysList</a>
      <ul class="right hide-on-med-and-down valign-wrapper">
        <li class="valign"><a class="waves-effect waves-light btn" ng-click="$ctrl.showNewAd()">New Ad</a></li>
        <li class="valign">
          <select class="browser-default" ng-model="$ctrl.filtering" ng-change="$ctrl.filterAds()" id="sort">
            <option value="" disabled selected>Sort</option>
            <option value="price">By Price</option>
            <option value="title">By Title</option>
          </select>
        </li>
        <li class="valign">
          <div class="input-field inline">
            <input id="filter" type="search" ng-model="searchFilter">
            <label for="search" data-error="wrong" data-success="right">Filter</label>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>

<main class="container">
  <div class="row" ng-show="$ctrl.showAd">
    <form name="$ctrl.adForm" ng-submit="$ctrl.createAd()">
      <label for="title">Title</label>
      <input id="title" ng-model="$ctrl.ad.title" class="form-control" required name="title"><br>
      <label for="description">Description</label>
      <input id="description" ng-model="$ctrl.ad.description" class="form-control" required name="description"><br>
      <label for="price">Price</label>
      <input id="price" ng-model="$ctrl.ad.price" class="form-control" required name="price"><br>
      <label for="image">Image URL</label>
      <input id="image" ng-model="$ctrl.ad.image" class="form-control" required name="image">
      <br>
      <button type="submit" class="btn" id="newAdBtn">Create Ad</button>
    </form>
  </div>
  <div class="row">
    <div class="card" ng-repeat="ad in $ctrl.ads | orderBy: $ctrl.sorted | filter: searchFilter">
      <div class="card-title">{{ ad.title }}</div>
      <div class="card-image">
        <img ng-src="{{ ad.item_image }}" />
      </div>
      <div class="card-content">
        <p>Description: {{ ad.description }}</p>
        <p>Price: {{ ad.price }}</p>
      </div>
      <div class="card-action">
        <a href="#" ng-click="$ctrl.deleteAd(ad.id)">Delete Ad</a>
        <a ui-sref="edit({id: {{ad.id}}})">Edit Ad</a>
      </div>
    </div>
  </div>
</main>
